#!/bin/bash
[Unit]
Description=gdrive Daemon
After=multi-user.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount gdrive: /mnt/gdrive \
--config=/opt/appdata/rclone/rclone.conf \
--log-file=/var/log/rclone/rclone-gdrive.log \
--log-level="${vfs_ll}" \
--uid=1000 --gid=1000 --umask=002 \
--allow-other \
--timeout=1h \
--tpslimit=10 \
--user-agent="${uagent}" \
--dir-cache-time="${vfs_dct}" \
--vfs-cache-mode="${vfs_cm}" \
--vfs-cache-max-age="${vfs_cma}" \
--vfs-cache-max-size="${vfs_cms}" \
--vfs-read-chunk-size-limit="${vfs_rcsl}" \
--vfs-read-chunk-size="${vfs_rcs}" \
--buffer-size="${vfs_bs}"
ExecStop=/bin/fusermount -uz /mnt/gdrive > /dev/null
TimeoutSec=60
User=0
Group=0

[Install]
WantedBy=multi-user.target
